# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
.idea/
*.iml

# Python (Server i Baza)
__pycache__/
*.pyc
venv/
env/
.env
chroma_db/
*.sqlite3
*.db
dist/
build_python/

# OS datoteke
.DS_Store
Thumbs.db
